GITHUB_ID=
GITHUB_SECRET=

DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DATABASE_NAME=
NEXTAUTH_URL=http://localhost:3000

JWT_SIGNING_PRIVATE_KEY={"kty":"oct","kid":"","alg":"HS512","k":""}